.smPermissions {
    .tree_diialogTreeInfo_css {
        width: 100%;
        height: 100%;
        float: left;
        overflow-y: auto;
        overflow-x: auto; // border: solid 1px #EBEEF5;
    }
    @media (min-width:700px) and (max-width:1400px) {
        .permissions_dialog_input_span_name,
        .permissions_dialogdiialogDetails_input_span_name {
            width: 30% !important;
        }
    }
    .permissions_add_updata_dialog {
        .dialog-label-item {
            // width: 70px !important;
            // text-align: right;
            margin-left: 20px;
            line-height: 50px;
        }
    }
    .button_title {
        width: 100%;
        height: 45px;
        text-align: right;
        line-height: 45px;
    }
    .permissions_input_span_name,
    .permissions_input_span_date {
        opacity: 0.8;
        font-size: 12px;
    }
    .button_permissions_title_p_date {
        width: 340px;
        float: left;
        margin-top: 5px;
    }
    .permissions_table {
        height: calc(100% - 90px);
        display: flex;
        justify-content: space-between;
    }
    .permissions_dialog_input_span_name {
        width: 20%;
        height: 30px;
        display: inline-block;
        text-align: right;
    }
    .permissions_dialogdiialogDetails_input_span_name {
        width: 17%;
        height: 30px;
        display: inline-block;
        text-align: right;
    }
    .permissions_pagination {
        width: 100%;
        overflow: hidden;
    }
    .detail-item-box {
        padding-left: 25px;
        width: 100%;
        div {
            width: 50%;
        }
        p {
            line-height: 30px;
        }
        span {
            line-height: 30px;
        }
    }
    .el-pagination__sizes .el-input .el-input__inner {
        font-size: 12px;
    }
    .el-button {
        margin-left: 3px;
    }
    .permissions_table .el-table td .cell {
        white-space: nowrap;
    }
    .permissions_dialog .el-dialog,
    .permissions_add_updata_dialog .el-dialog {
        margin-top: 25vh !important;
    }
    .permissions_dialog .el-dialog__title,
    .permissions_add_updata_dialog .el-dialog__title {
        font-size: 14px;
    }
    .permissions_add_updata_dialog .app-container .el-button {
        padding: 10px 5px !important;
    }
    .permissions_pagination .el-pagination__total,
    .permissions_pagination .el-pagination__sizes .el-input .el-input__inner,
    .permissions_pagination .el-pagination__jump {
        font-size: 12px !important;
    }
    .app-container .el-button {
        padding: 7px 7px !important;
    }
    .permissions_table .el-table td .cell {
        white-space: nowrap;
    }
    .permissions_dialog .el-dialog .el-dialog__header,
    .permissions_add_updata_dialog .el-dialog .el-dialog__header {
        padding: 10px;
        border-bottom: 1px solid #D7D7D7;
    }
    .el-input__inner {
        height: 26px !important;
        line-height: 26px !important;
        font-size: 12px;
    }
    .permissions_dialog .el-dialog,
    .permissions_add_updata_dialog .el-dialog {
        margin-top: 25vh !important;
    }
    .permissions_dialog .el-dialog__body,
    .permissions_add_updata_dialog .el-dialog__body {
        text-align: -webkit-center;
    }
    .permissions_dialog .el-dialog__title,
    .permissions_add_updata_dialog .el-dialog__title {
        font-size: 14px;
    }
    .permissions_add_updata_dialog .app-container .el-button {
        padding: 10px 5px !important;
    }
    .permissions_pagination .el-pagination__total,
    .permissions_pagination .el-pagination__sizes .el-input .el-input__inner,
    .permissions_pagination .el-pagination__jump {
        font-size: 12px !important;
    }
    .app-container .el-button {
        padding: 7px 7px !important;
    }
}