.lc_qima {
    .zhongyi-li-span {
      height: 30px;
      line-height: 30px;
      &:first-child {
        p {
          background: rgba(242, 242, 242, 1);
        }
      }
      p {
        width: 16.65%;
        float: left;
        border: solid 1px #dcdfe6;
        border-bottom: none;
        border-left: none;
        &:last-child {
          // border-right: none;
        }
      }
      span {
        display: inline-block;
        text-align: center;
        font-size: 12px;
      }
      &:last-child {
        p {
          border-bottom: 1px solid #dcdfe6;
        }
      }
    }
    .spanone {
      width: 5.5vh;
      height: 100%;
      border-right: solid 1px #dcdfe6;
      .border_yuan {
        border: solid 1px #dcdfe6;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        line-height: 25px;
        color: white;
      }
    }
  
    .spantwo {
      width: 9vh;
      .el-input {
        width: 95%;
        height: 100%;
        line-height: 100%;
        margin-left: 0.7vh;
        input {
          height: 25px;
        }
      }
    }
  }
  
  @media (min-width: 700px) and (max-width: 1600px) {
    .lc_qima {
      .spantwo {
        width: 9vh !important;
        .el-input {
          margin-left: 1.25vh !important;
          padding-top: 2px !important;
        }
      }
    }
  }