@font-face {
    font-family: 'iconfont';
    /* project id 1127232 */
    src: url('//at.alicdn.com/t/font_1127232_rjjhzgb8rs.eot');
    src: url('//at.alicdn.com/t/font_1127232_rjjhzgb8rs.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1127232_rjjhzgb8rs.woff2') format('woff2'), url('//at.alicdn.com/t/font_1127232_rjjhzgb8rs.woff') format('woff'), url('//at.alicdn.com/t/font_1127232_rjjhzgb8rs.ttf') format('truetype'), url('//at.alicdn.com/t/font_1127232_rjjhzgb8rs.svg#iconfont') format('svg');
}
[class*=" el-icon-lc"],
[class^="el-icon-lc"] {
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-icon-lc-all:before {
    content: "\e636";
}

.el-icon-lc-qinzi:before {
    content: "\e600";
}

.el-icon-lc-voice:before {
    // 声音
    content: "\e753";
}

.el-icon-lc-stop:before {
    // 暂停
    content: "\ed0f";
}

.el-icon-lc-play:before {
    // 继续
    content: "\e670";
}

.el-icon-lc-Arrow-down:before {
    // 23号下箭头
    content: "\e608;"
}

.el-icon-lc-Arrow-down2:before {
    // 下箭头
    content: "\e608"
}

.el-icon-lc-enable:before {
    // 启用
    content: "\e63f"
}

.el-icon-lc-config:before {
    // p配置
    content: "\e7fb"
}

.el-icon-lc-review:before {
    // 预览
    content: "\e655"
}

.el-icon-lc-check:before {
    // 查看
    content: "\e712"
}

.el-icon-lc-shouquan:before {
    // 授权
    content: "\e758"
}

.el-icon-lc-disabled:before {
    // 禁用
    content: "\e650"
}

.el-icon-lc-reset:before {
    // 重置
    content: "\e633"
}

.el-icon-lc-shuxin:before {
    // 刷新
    content: "\e69b"
}

.el-icon-lc-add:before {
    // 新增
    content: "\e6ba"
}

.el-icon-lc-edit:before {
    // 修改
    content: "\e63b"
}

.el-icon-lc-bianji:before {
    // 编辑
    content: "\e729"
}

.el-icon-lc-message:before {
    // 消息
    content: "\e617"
}

.el-icon-lc-shezhi:before {
    // 设置
    content: "\e62b"
}

.el-icon-lc-fenpei:before {
    // 分配
    content: "\e6b9"
}

.el-icon-lc-export:before {
    // 导出
    content: "\e6ae"
}

.el-icon-lc-delete:before {
    // 删除
    content: "\e604"
}

.el-icon-lc-update:before {
    // 更新
    content: "\e603"
}

.el-icon-lc-search:before {
    // 查询
    content: "\e602"
}

.el-icon-lc-xiugai:before {
    // 修改
    content: "\e609"
}

.el-icon-lc-tichu:before {
    // 踢出
    content: "\e601"
}

.el-icon-lc-disabled:before {
    // 禁用
    content: "\e650"
}

.el-icon-lc-reset:before {
    // 重置
    content: "\e633"
}

// .el-icon-lc-check:before {
//     // 查询
//     content: "\e60b"
// }
.el-icon-lc-shuxin:before {
    // 刷新
    content: "\e69b"
}

.el-icon-lc-add:before {
    // 新增
    content: "\e6ba"
}

.el-icon-lc-edit:before {
    // 修改
    content: "\e63b"
}

.el-icon-lc-bianji:before {
    // 编辑
    content: "\e729"
}

.el-icon-lc-message:before {
    // 消息
    content: "\e617"
}

.el-icon-lc-shezhi:before {
    // 设置
    content: "\e62b"
}

.el-icon-lc-fenpei:before {
    // 分配
    content: "\e6b9"
}

.el-icon-lc-export:before {
    // 导出
    content: "\e6ae"
}

.el-icon-lc-save:before {
    // 保存
    content: "\e638;"
}