// 通用二级彩种赔率设置
.odd-kuaisan-box,.odd-shishicai-box,.odd-11xuan5-box,.odd-kuaile10fen-box,.odd-pk10-box,.odd-fenfencai-box {
    display: flex;
    justify-content: flex-start;
    .odd-left-box { // 右边彩种选择盒子
        width: 135px;
        height: calc(100vh - 310px);
        overflow-y: auto;
        background-color: #ebeef5;
        border: 1px solid gainsboro;
        border-left: none;
        border-bottom: none;
        .el-radio-group {
            display: flex;
            flex-direction: column;
            
            .el-radio-button {
                border-bottom: 1px solid gainsboro;
                .el-radio-button__inner {
                    width: 100%;
                    border: none;
                    padding: 8px 10px;
                    font-size: 12px;
                    background: #ebeef5;
                }
            }
            .is-active {
                .el-radio-button__orig-radio:checked+.el-radio-button__inner {
                    background-color: #c2c7d2;
                    color: #606266;
                    box-shadow: none;
                }
            }
        }
    } 
    .odd-right-box { // 左边赔率设置盒子
        position: relative;
        width: 90%;
        height: calc(100vh - 310px);
        overflow-y: auto;
        margin-left: 15px;
        border: none;
        border-left: 1px solid gainsboro;
        .set-odd-box {
            min-width: 420px;
            width: 50%;
            margin-top: 50px;
            margin-right: 20px;
            float: right;
            display: flex;
            display: flex;
            justify-content: space-between;
            // position: absolute;
            // bottom: 50px;
            // right: 20px;
            .set-input-state { // 文字说明
                text-align: center;
                line-height: 24px;
            }
            .el-input {
                width: 30%;
            }
            .el-input__inner {
                width: 100%;
                padding: 8px 10px;
                height: 24px; 
            }
            .el-button {
                width: 105px;
                height: 24px;
                line-height: 10px;
            }
        }
    }
    
}
